body{
    padding: 15px;
    margin-top: 5px;
    background-color: #c3f5f4;
}

.body .form{
    padding: 15px;
    margin-top: 5px;
}

header{
    align-items: center;
    text-align: center;
    border: 3px double red;
    background-color: antiquewhite;
}
